@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap');


#battleLog {
    background-color: #F2E1B9; 
    
    color: #2B1A0D; 
    
    font-family: 'Crimson Text', serif; 
    font-size: 1.3rem; 
    height: 400px;
    overflow-y: auto;
    padding: 25px;
    
    border: 4px ridge #7A5C23; 
    border-radius: 2px; 
    
    box-shadow: inset 0 0 40px rgba(255, 167, 4, 0.4), 0 5px 20px rgba(249, 249, 249, 0.5); 
    
    text-align: left;
    line-height: 1.6;
    
    background-image: url('https://www.transparenttextures.com/patterns/aged-paper.png'); 
}


#battleLog::-webkit-scrollbar {
    width: 10px;
}
#battleLog::-webkit-scrollbar-track {

    background: #E6D5AF;
    border-left: 1px solid #C4B08F;
}
#battleLog::-webkit-scrollbar-thumb {
    background: #8c6b2e; 
    border-radius: 2px;
}
#battleLog::-webkit-scrollbar-thumb:hover {
    background: #A67E36; 
}


#battleLog p {
    margin-bottom: 12px;
    word-wrap: break-word;
    border-bottom: 1px solid rgba(245, 240, 236, 0.725); 
    padding-bottom: 8px;
}


.level-title {
    font-family: 'Cinzel', serif; 
    font-size: 2.2rem;
    font-weight: 700;
    color: #A67E36; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 1px 1px 2px rgba(214, 200, 200, 0.5); 
}